.carouselimg {
    display: inline-block;
    border-radius: 15%;
    padding: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 5px black;
    width: 200px;
    height: 200px;
}

.spinner {
    composes: carouselimg;
    -webkit-animation: spin 0.2s linear infinite; /* Safari */
    animation: spin 0.2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}